@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
   margin: auto;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
  &:active {
    transform: scale(0.98);
  }
}

input {
  flex-grow: 2;
  border: none;
  font-size: 16px;
  background-color: transparent;
  color: white;
}

input:focus {
  outline: none;
}
