// ----- Colors -----

$primary: #e3001b;
$black: #020101;
$secondary: #1d1d1d;
$text: #dadada;
$dark: #414141;
$darkBlue: #55565c;
//nuances
$green: #a9ca9a;
$orange: #e4b949;
$red: #ec919a;

// shadow 
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// radius
$radius: 1rem;

// Responsive
$smartphone: 50rem;
$tabletMin: 50.1rem;
$tabletMax: 76.8rem;
$normalMin: 76.9rem;
$normalMax: 120rem;
$widescreen: 120.1;
$landscape: 50rem; 